@{
    ViewData["Title"] = "Pending";
}

@model Project.Models.PendingModel[]

<style>
    #top-bar {
        position: fixed; /* Fix the top bar panel at the top of the viewport */
        top: 0;
        left: 0;
        right: 0;
        height: 50px; /* Set the desired height for the top bar panel */
        background-color: #333; /* Background color for the top bar panel */
        color: #fff;
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }
    
    #panelitem {
        font-size: 23px; /* Decreased font size for better readability */
        color: #fff;
        cursor: pointer;
        margin: 0 35px; /* Added some spacing between clickable items */
        text-decoration: none; /* Removed underline */
        transition: color 1s ease, transform 1s ease; /* Smooth color transition on hover */
    }
    #panelitem:hover {
        color: #FFC107; /* Changed color on hover to a yellowish color */
        transform: scale(1.1); /* Scale up by 10% on hover */
    }
    
    .custom-link {
        color: #fff; /* Set the desired color for the link */
        text-decoration: none; /* Remove the underline */
        transition: color 0.75s ease, transform 0.75s ease; /* Add transition for color and transform */
    }
    .custom-link:hover {
        color: #FFC107; /* Set the desired color for the link on hover */
    }
</style>

<div id="top-bar">
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Home")"> Home</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("ProformaInvoiceIndex", "ProformaInvoice")"> Proforma Invoices</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a> Pending</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Accounting")"> Invoices</a>
        </h3>
    </div>

    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("VoucherIndex", "Voucher")"> Vouchers</a>
        </h3>
    </div>
</div>

<h2><br/><br/>Pending Status</h2>

<div>
    <form asp-action="Search" method="post">
        <label for="searchString">Search by Proforma Invoice Number:</label>
        <input type="text" id="searchString" name="searchString"/>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <form asp-action="SearchByName" method="post">
        <label for="searchNameString">Search by Name:</label>
        <input type="text" id="searchNameString" name="searchNameString"/>
        <button type="submit">Search</button>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoice.ProformaInvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoice.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoice.Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Note)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoice.ProformaInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoice.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoice.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

            <td>
                <a href="@Url.Action("EditPendingPage", "Pending", new { id = item.PendingId })">Edit</a>
                <a href="@Url.Action("DeletePending", "Pending", new { id = item.PendingId })" class="delete-link" onclick="return confirmDelete()">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        function confirmDelete() {
                return confirm("Are you sure you want to delete this item?");
        }
    </script>
}