@model Project.Models.DocumentInvitationModel[]

@{
    ViewData["Title"] = "Document Invitation Tracking";
}

<!DOCTYPE html>

<div id="top-bar">
    <div id="selectedpanelitem">
        <h3>
            Document Invitation Tracking
        </h3>
    </div>
</div>

<br/><br/><br/>

<table class="styled-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().OriginalLanguage)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalLanguage)
            </td>

            <td>
                <a class="tablebutton" href="@Url.Action("InvitationShowPage", "DocumentInvitation", new { id = item.DocumentInvitationId })">
                    <span class="tablebutton_text">Show</span>
                </a>
                <a class="tablebutton" href="@Url.Action("Delete", "DocumentInvitation", new { id = item.DocumentInvitationId })" onclick="return confirmDelete()">
                    <span class="tablebutton_text">Delete</span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            // Iterate over each canvas with the 'displayCanvas' class
            $('.displayCanvas').each(function () {
                var canvas = this;
                var signaturePad = new SignaturePad(canvas);

                // Function to load and display the signature
                function loadAndDisplaySignature(signatureData) {
                    signaturePad.fromDataURL(signatureData);
                }

                // Call the function with the signature data from the canvas's data attribute
                console.log("display:" + $(canvas).data('signaturestring'));
                loadAndDisplaySignature($(canvas).data('signaturestring'));
            });
        });
        
        function confirmDelete() {
                return confirm("Are you sure you want to delete this item?");
        }
    </script>
}