@{
    ViewData["Title"] = "Proforma Invoice";
}

@model Project.Models.ProformaInvoiceModel[]

<!DOCTYPE html>

<div id="top-bar">
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Home")"> Home</a>
        </h3>
    </div>
    <div id="selectedpanelitem">
        <h3>
            <a> Proforma Invoices</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("PendingIndex", "Pending")"> Pending</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Accounting")"> Invoices</a>
        </h3>
    </div>

    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("VoucherIndex", "Voucher")"> Vouchers</a>
        </h3>
    </div>
</div>

<br/><br/><br/><br/>

<div>
    <span style="display: inline-block;">
        <a href="@Url.Action("ChooseCustomerForProformaInvoicePage", "ProformaInvoice")" class="create-button">
            <span class="create-button__text">New</span>
            <span class="create-button__icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </span>
        </a>
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </span>

    <form asp-action="Search" method="post" style="display: inline-block;">
        <label for="searchCriteria">Search by:</label>
        <select id="searchCriteria" name="searchCriteria">
            <option value="ProformaInvoiceNumber">Proforma Invoice Number</option>
            <option value="Name">Name</option>
            <!-- Add other search options as needed -->
        </select>
        <input type="text" id="searchQuery" name="searchQuery"/>
        <button type="submit">Search</button>
    </form>
</div>


<table class="styled-table">
    <thead>
    <tr>
        <th>
            RefNo
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Items[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GrandTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Totals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Items[0].Total)
        </th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items[0].Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items[0].Total)
            </td>

            <td>
                <a class="tablebutton" href="@Url.Action("ShowProformaInvoice", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">
                    <span class="tablebutton_text">Show</span>
                </a>
                <a class="tablebutton" href="@Url.Action("EditProformaInvoicePage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">
                    <span class="tablebutton_text">Edit</span>
                </a>
                <a class="tablebutton" href="@Url.Action("DeleteProformaInvoice", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })" onclick="return confirmDelete()">
                    <span class="tablebutton_text">Delete</span>
                </a>
            </td>
            <td>
                <a class="tablebutton" href="@Url.Action("RequestCreatePendingPage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">
                    <span class="tablebutton_text">Create Pending</span>
                </a>
            </td>
            <td>
                <a class="tablebutton" href="@Url.Action("RequestCreateInvoicePage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })"  onclick="return createInvoice()">
                    <span class="tablebutton_text">Create Invoice</span>
                </a>
            </td>
            <td>
                <a class="tablebutton" href="@Url.Action("RequestCreateVoucherPage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">
                    <span class="tablebutton_text">Create Voucher</span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        function confirmDelete() {
                return confirm("Are you sure you want to delete this item?");
        }
        function createInvoice() {
                return confirm("Create Invoice?");
        }
    </script>
}