@{
    ViewData["Title"] = "Proforma Invoice";
}

@model Project.Models.ProformaInvoiceModel[]

<style>
    #top-bar {
        position: fixed; /* Fix the top bar panel at the top of the viewport */
        top: 0;
        left: 0;
        right: 0;
        height: 50px; /* Set the desired height for the top bar panel */
        background-color: #333; /* Background color for the top bar panel */
        color: #fff;
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }
    
    #panelitem {
        font-size: 23px; /* Decreased font size for better readability */
        color: #fff;
        cursor: pointer;
        margin: 0 35px; /* Added some spacing between clickable items */
        text-decoration: none; /* Removed underline */
        transition: color 1s ease, transform 1s ease; /* Smooth color transition on hover */
    }
    #panelitem:hover {
        color: #FFC107; /* Changed color on hover to a yellowish color */
        transform: scale(1.1); /* Scale up by 10% on hover */
    }
    
    .custom-link {
        color: #fff; /* Set the desired color for the link */
        text-decoration: none; /* Remove the underline */
        transition: color 0.75s ease, transform 0.75s ease; /* Add transition for color and transform */
    }
    .custom-link:hover {
        color: #FFC107; /* Set the desired color for the link on hover */
    }
</style>

<div id="top-bar">
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Home")"> Home</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a> Proforma Invoices</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("PendingIndex", "Pending")"> Pending</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Accounting")"> Invoices</a>
        </h3>
    </div>

    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("VoucherIndex", "Voucher")"> Vouchers</a>
        </h3>
    </div>
</div>

<h2><br/><br/>Proforma Invoices</h2>

<p>
    <a href="@Url.Action("CreateProformaInvoicePage", "ProformaInvoice")">Create New Proforma Invoice</a>
</p>

<div>
    <form asp-action="Search" method="post">
        <label for="searchString">Search by Proforma Invoice Number:</label>
        <input type="text" id="searchString" name="searchString"/>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <form asp-action="SearchByName" method="post">
        <label for="searchNameString">Search by Name:</label>
        <input type="text" id="searchNameString" name="searchNameString"/>
        <button type="submit">Search</button>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProformaInvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Items[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GrandTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Totals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Items[0].Total)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items[0].Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totals)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Items[0].Total)
            </th>

            <td>
                <a href="@Url.Action("EditProformaInvoicePage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">Edit</a>
                <a href="@Url.Action("DeleteProformaInvoice", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })" class="delete-link" onclick="return confirmDelete()">Delete</a>
                <a href="@Url.Action("ShowProformaInvoice", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">Show</a>
            </td>
            <td>
                <a href="@Url.Action("RequestCreatePendingPage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">Create Pending</a>
            </td>
            <td>
                <a href="@Url.Action("RequestCreateInvoicePage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">Create Invoice</a>
            </td>
            <td>
                <a href="@Url.Action("RequestCreateVoucherPage", "ProformaInvoice", new { proformaInvoiceId = item.ProformaInvoiceId })">Create Voucher</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        function confirmDelete() {
                return confirm("Are you sure you want to delete this item?");
        }
    </script>
}