<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
@{
    ViewData["Title"] = "Accounting";
}

@model Project.Models.InvoiceModel[]

<div id="top-bar">
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Home")"> Home</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("ProformaInvoiceIndex", "ProformaInvoice")"> Proforma Invoices</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("PendingIndex", "Pending")"> Pending</a>
        </h3>
    </div>
    <div id="selectedpanelitem">
        <h3>
            <a>Invoices</a>
        </h3>
    </div>

    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("VoucherIndex", "Voucher")"> Vouchers</a>
        </h3>
    </div>
</div>

<br/><br/><br/><br/>

<div>
    <form asp-action="Search" method="post">
        <label for="searchString">Search by Invoice Number:</label>
        <input type="text" id="searchString" name="searchString"/>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <form asp-action="SearchByName" method="post">
        <label for="searchNameString">Search by Name:</label>
        <input type="text" id="searchNameString" name="searchNameString"/>
        <button type="submit">Search</button>
    </form>
</div>

<table class="styled-table">
    <thead>
    <tr>
        <th>
            RefNo
        </th>
        <th>
            Invoice RefNo
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Descriptions)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoice.ProformaInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoice.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>

            <td>
                <a class="tablebutton" href="@Url.Action("EditPage", "Accounting", new { targetInvoiceId = item.InvoiceId })">
                    <span class="tablebutton_text">Edit</span>
                </a>
                <a class="tablebutton" href="@Url.Action("ShowInvoice", "Accounting", new { id = item.InvoiceId })">
                    <span class="tablebutton_text">Show</span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        function confirmDelete() {
                return confirm("Are you sure you want to delete this item?");
        }
    </script>
}