@{
    ViewData["Title"] = "Voucher";
}

@model Project.Models.Voucher[]


<div id="top-bar">
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Home")"> Home</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("ProformaInvoiceIndex", "ProformaInvoice")"> Proforma Invoices</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("PendingIndex", "Pending")"> Pending</a>
        </h3>
    </div>
    <div id="panelitem">
        <h3>
            <a class="custom-link" href="@Url.Action("Index", "Accounting")"> Invoices</a>
        </h3>
    </div>

    <div id="selectedpanelitem">
        <h3>
            <a> Vouchers</a>
        </h3>
    </div>
</div>

<br/><br/><br/><br/>

<table class="styled-table">
    <thead>
    <tr>
        <th>
            Proforma RefNo
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Date)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProformaInvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                <a class="tablebutton" href="@Url.Action("ShowVoucherPage", "Voucher", new { id = item.VoucherId })">
                    <span class="tablebutton_text">Show</span>
                </a>
                <a class="tablebutton" href="@Url.Action("EditVoucherPage", "Voucher", new { id = item.VoucherId })">
                    <span class="tablebutton_text">Edit</span>
                </a>
                <a class="tablebutton" href="@Url.Action("DeleteVoucher", "Voucher", new { id = item.VoucherId })">
                    <span class="tablebutton_text">Delete</span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>